@use "sass:map";

/* ブレイクポイント */
$breakpoints: (
  pc: "(min-width: 1080px)",
  tab: "(min-width: 768px) and (max-width: 1079px)",
  sp: "(max-width: 767px)",
);

@mixin mq($point) {
  @media #{map.get($breakpoints, $point)} {
    @content;
  }
}

/* PC、SPの非表示 */
.pc {
  @include mq(sp) {
    display: none !important;
  }
}

.sp {
  display: none;

  @include mq(sp) {
    display: block !important;
  }
}

.line-break {
  display: inline-block;

  @include mq(sp) {
    display: inline;
  }
}