@use "sass:map";
@use '../global' as *;

.footer {
}

.footer a {
  transition: opacity 0.4s;
}

.footer a:hover {
  @media (any-hover: hover) {
    opacity: 0.7;
  }
}

.footer__inner {
  padding-inline: 30px;
  padding-block: 80px;
  
  @include mq(sp) {
    padding-block: 50px
  }
}

.footer__content {
  max-width: 722px;
  width: 100%;
  margin-inline: auto;
}

.footer__company {
  padding-bottom: 28px;
  border-bottom: solid 1px $color-main;
  text-align: center;

  @include mq(sp) {
    padding-bottom: 20px;
  }
}

.footer__company p {
  font-size: 2rem;
  line-height: calc(33 / 20);
}

.footer__nav {
  margin-top: 28px;

  @include mq(sp) {
    margin-top: 20px;
  }
}

.footer__nav ul {
  display: flex;
  column-gap: 50px;
  // column-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5px;
  
  @include mq(tab) {
    column-gap: 30px;
    // column-gap: 10px;
  }
  
  @include mq(sp) {
    column-gap: 30px;
    // column-gap: 10px;
  }
}

.footer__nav ul li a {
  font-size: 18px;
  // １単語はheight33だがカンプのグループだと35なので
  line-height: calc(35 / 18);
  text-transform: uppercase;
  /* 英字（単語）を途中で折り返さない */
  word-break: keep-all;
}

.footer__nav ul li:not(:first-of-type):not(:last-of-type) a {
  // padding-inline: 10px;

  @include mq(tab) {
    // padding-inline: 10px;
  }
  @include mq(sp) {
    // padding-inline: 10px;
  }
}

.footer__nav ul li:first-of-type a {
  // padding-right: 10px;

    @include mq(tab) {
      // padding-right: 10px;
    }
  
    @include mq(sp) {
      // padding-inline: 10px;
    }
}

.footer__nav ul li:last-of-type a {
  // padding-left: 10px;

  @include mq(tab) {
    // padding-left: 10px;
  }

  @include mq(sp) {
    // padding-inline: 10px;
  }
}

.footer__nav li a:hover {
  @media (any-hover: hover) {
    opacity: 0.7;
  }
}




.footer__sns {
  margin-top: 26px;
}

.footer__sns-items {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;

}

.sns {}

.sns__list {}

.sns__link {}

.sns__link img {
  width: 28px;
}

.x {}

.fb {}

.youtube {}

.insta {}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  background-color: $color-green;
  text-align: center;
}

.footer__copyright p {
  font-size: 2rem;
  line-height: calc(33 / 20);
  color: #fff;
  @include mq(sp) {
    line-height: calc(25 / 20);
  }
}