@use "../global" as *;
@use "sass:math";

// ナビゲーション（中身）
.header-menu {
  background-color: $color-green;
  position: fixed;
  width: 300px;
  top: 50px;
  right: 0;
  padding: 0 20px;
  color: $color-white;
  transform: translateX(100%);
  transition: transform .4s;
}

// メニュー表示状態
.header-menu.is-open {
  transform: translateX(0);
}

.header-menu ul {
  margin: 0;
}

.header-menu ul a {
  list-style: none;
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  padding-block: 1.25rem;
  display: block;
  text-transform: uppercase;
  transition: opacity 0.4s;
}

.header-menu ul a:hover {
  @media (any-hover: hover) {
    opacity: 0.7;
  }
}