@use "../global" as *;
@use "sass:math";


// モーダル全体（ココを表示非表示させる。最初は非表示
.modal {
  // 最初は非表示
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

// モーダル外の背景（グレーの網かけ）
.modal__bg {
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: .52;
}

// モーダル外の内容部分（白い部分）
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(450 / 1080 * 100%);
  background: #fff;

  padding: 15px 15px 6px;

  @include mq(sp) {
    width: calc(315 / 375 * 100%);
    padding: 20px 20.5px 14px;
  }
}

.modal__image {

}
.modal__image img {
  aspect-ratio: 420 / 220;
  object-fit: cover;

  @include mq(sp) {
    aspect-ratio: 274 / 144;
  }
}

.modal__text {
  margin-top: 9px;

  @include mq(sp) {
    margin-top: 7px;
  }
}

.modal__text p {
  font-size: 1.6rem;
  line-height: calc(25 / 16);
}

// ウィンドウを閉じるボタン
.modal__cancel {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__cancel img {
  width: 20px;
  aspect-ratio: 20 / 20;
  object-fit: cover;
}