@use "sass:map";
@use '../global' as *;


.overlap-layout {
  display: grid;
  grid-template-columns: 420fr 180fr 320fr;
  grid-template-rows: 145fr 199fr 51fr;

  @include mq(sp) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 6px;
  }
}

.overlap-layout__media {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: relative;

  @include mq(sp) {
    grid-column: auto;
    grid-row: auto;
  }

}

.overlap-layout__image {
  width: 100%;
}

.overlap-layout__image img {
  aspect-ratio: 600 / 300;
  object-fit: cover;

  @include mq(sp) {
    aspect-ratio: 315 / 220;
  }
}
.overlap-layout__caption {
  margin-top: 19px;

  @include mq(sp) {
    margin-top: 5px;
  }
}

.overlap-layout__service {
  grid-column: 2 / 4;
  grid-row: 2 / 4;

  
  @include mq(sp) {
    grid-column: auto;
    grid-row: auto;
  }
}


// -------
// reverse
// -------
.overlap-layout--reverse {
  grid-template-columns: 320fr 180fr 420fr;

  @include mq(sp) {
      grid-template-columns: 1fr;
      // grid-template-rows: auto;
    }

  .overlap-layout__media {
    grid-column: 2 / 4;

    @include mq(sp) {
      grid-column: auto;
    }
  }

  .overlap-layout__service {
    grid-column: 1 / 3;

    @include mq(sp) {
      grid-column: auto;
      // grid-row: auto;
      // width: 100%;
    }
  }

  .overlap-layout__caption p {
    text-align: right;
  }

  .overlap-layout__caption p {
    @include mq(sp) {
      text-align: left;
    }
  }
}

// -------
// company
// -------
.overlap-layout--company {
  grid-template-rows: 200fr 200fr 62fr;
  // 地図ブロックを必ず600×400にする
  aspect-ratio: 920 / 462;

  @include mq(sp) {
    grid-template-rows: 1fr;
    row-gap: 20px;
  }

  .overlap-layout__image iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 600 / 400;
    display: block;

    @include mq(sp) {
      aspect-ratio: 315 / 300;
    }
  }
}