@use "sass:map";
@use '../global' as *;

.works-content {}

.works-content__link {
  width: calc(200 / 920 * 100%);
  cursor: pointer;
  transition: opacity 0.4s;

  @include mq(sp) {
    width: 100%;
  }
}

.works-content__link:hover {
  @media (any-hover: hover) {
    opacity: 0.7;
  }
}

.works-content__image {}

.works-content__image img {
  aspect-ratio: 200 / 200;
  object-fit: cover;

  @include mq(sp) {
    aspect-ratio: 315 / 250;
  }
}

.works-content__body {
  margin-top: 19px;

  @include mq(sp) {
    margin-top: 9px;
  }
}

.works-content__about {}

.works-content__modal {}